<div *ngIf="(getLoggingServerList() | async) as serverList; else loading">

    <div *ngFor="let server of serverList" class="mb-2">
      <div class="d-table">
        <div class="d-table-cell col-1" style="width: 200px;text-wrap: nowrap;">
          <div>{{ server.date | amTimeAgo }}</div>
        </div>
        <div class="d-table-cell col-1" style="width: 200px;">
          <div>{{ server.clusterNode }}</div>
        </div>
        <div class="d-table-cell col-1" style="width: 100px;">
          <div>{{ server.level }}</div>
        </div>
        <div class="d-table-cell col-3">
          <div style=" overflow-wrap: break-word;width: 300px;">{{ server.logger }}</div>
        </div>
        <div class="d-table-cell col-6">
          <pre style="overflow-wrap: break-word;max-width: 600px">
            {{ server.message }}
            {{ server.stackTrace }}</pre>
        </div>
      </div>
    </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
