<nav class="UnderlineNav UnderlineNav--left mb-5" aria-label="Logging">
  <div class="mb-2">
    <div class="Subhead-heading Subhead-heading--large"><span octicon="log" [size]="24" class="mr-1"></span>
      Logging
    </div>
  </div>
  <div class="UnderlineNav-body">
    <a class="UnderlineNav-item" [routerLink]="['/logging', 'server']"
       [routerLinkActive]="['selected']">Server</a>
    <a class="UnderlineNav-item" [routerLink]="['/logging', 'indexing']"
       [routerLinkActive]="['selected']">Indexing</a>
    <a class="UnderlineNav-item" [routerLink]="['/logging', 'aem']"
       [routerLinkActive]="['selected']">AEM</a>
  </div>
</nav>
<router-outlet>
</router-outlet>
