<div *ngIf="(getTurIntegrationMonitoring() | async) as monitoring; else loading">

  <nav class="UnderlineNav UnderlineNav--left mb-5" aria-label="Monitoring">
    <div class="mb-2">
      <div class="Subhead-heading Subhead-heading--large"><span octicon="graph" [size]="24" class="mr-1"></span>
        Monitoring
      </div>
    </div>
    <div class="UnderlineNav-body">
      <a class="UnderlineNav-item" [routerLink]="['/integration', 'aem', getIntegrationId(), 'monitoring', 'all']"
         [routerLinkActive]="['selected']">All</a>
      <a *ngFor="let source of monitoring.sources ;"
         class="UnderlineNav-item" [routerLink]="['/integration', 'aem',  getIntegrationId(), 'monitoring', source]"
         [routerLinkActive]="['selected']">{{ source }}</a>
    </div>

  </nav>
  <div *ngIf="monitoring.indexing.length < 1" class="blankslate">
    <span octicon="graph" [size]="48" class="mb-3"></span>
    <h3 class="mb-1">You don’t seem to have any access.</h3>
    <p>As soon as you have some access more information will appear.</p>
  </div>
  <div *ngIf="monitoring.indexing.length >= 1">
    <div>
      <div class="Box">
        <div class="Box-header">
          <div class="d-table">
            <div class="d-table-cell col-2">
              Source
            </div>
            <div class="d-table-cell col-4">
              Content Id
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              Site
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              Locale
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              Environment
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              Status
            </div>
          </div>
        </div>
        <div *ngFor="let indexing of monitoring.indexing ; let i = index" [attr.data-index]="i"
             data-view-component="true" class="Box-body">
          <div class="d-table">
            <div class="d-table-cell col-2">
              <div>{{ indexing.name }}</div>
              <div>{{ indexing.modificationDate | amTimeAgo }}</div>
            </div>
            <div class="d-table-cell col-4">
              <a href="{{getSNLink(indexing)}}" target="_blank">{{ indexing.objectId }}</a>

            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              {{ indexing.sites }}
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              {{ indexing.locale }}
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              {{ indexing.environment }}
            </div>
            <div class="d-table-cell col-2" style="text-align: center;">
              {{ indexing.status }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
