<div *ngIf="(getLoggingIndexingList() | async) as indexingList; else loading">

  <div *ngFor="let indexing of indexingList" class="mb-2">
    <div class="d-table">
      <div class="d-table-cell col-1" style="width: 200px;text-wrap: nowrap;">
        <div>{{ indexing.timestamp | amTimeAgo }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 150px;">
        <div>{{ indexing.status }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 150px;">
        <div>{{ indexing.loggingStatus }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 100px;">
        <div>{{ indexing.source }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 500px;">
        <div>{{ indexing.contentId }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 100px;">
        <div>{{ indexing.environment }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 100px;">
        <div>{{ indexing.locale }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 200px;">
        <div>{{ indexing.sites }}</div>
      </div>
      <div class="d-table-cell col-1" style="width: 150px;">
        <div>{{ indexing.details }}</div>
      </div>
    </div>

  </div>

</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
