<div *ngIf="(getLoggingGeneralList() | async) as generalList; else loading">

    <div *ngFor="let general of generalList" class="mb-2">
      <div class="d-table">
        <div class="d-table-cell col-1" style="width: 200px;text-wrap: nowrap;">
          <div>{{ general.timestamp | amTimeAgo }}</div>
        </div>
        <div class="d-table-cell col-1" style="width: 100px;">
          <div>{{ general.level }}</div>
        </div>
        <div class="d-table-cell col-3">
          <div style=" overflow-wrap: break-word;width: 300px;">{{ general.logger }}</div>
        </div>

        <div class="d-table-cell col-7">
          <pre style="overflow-wrap: break-word;max-width: 200px">
            {{ general.message }}</pre>

        </div>

      </div>

    </div>

</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
